.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

#App{flex-direction:column;height:100vh;min-height:100vh;background-color: #282c34;}

.App-link {
  color: #09d3ac;
}

.row{display:flex;justify-content:flex-start;align-items:stretch;flex-wrap:nowrap;padding:10px;}
.col{min-height:75px;flex-grow:1;flex-basis:100%;}

#headerContainer{flex-direction:column;height:50px;min-height:50px;margin:0px;padding:0px;font-size: calc(10px + 2vmin);color:white;text-align:center;}
#buttonContainer{flex-direction:column;height:50px;min-height:50px;margin:0px;padding:0px;font-size: calc(10px + 2vmin);color:white;text-align:center;}

* { box-sizing: border-box; } 
.row{display:flex;justify-content:flex-start;align-items:stretch;flex-wrap:nowrap;padding:10px;}
.col{min-height:75px;flex-grow:1;flex-basis:100%;}
*{box-sizing:border-box;}
body{margin:0;background-color:#282c34;}

#container{display:flex;flex-direction:column;}
#App{flex-direction:column;height:100vh;min-height:100vh;}
#body{flex-direction:column;flex:1 0;}


#footer{flex-direction:column;height:100px;min-height:100px;}
#footerContainer{}

#irbe{display:flex;flex-direction:column;}
#graphContainer{min-height:600px;}
#cardDeck{display:flex;justify-content:center;max-width:100vw;align-items:flex-start;flex-wrap:wrap;}
#cardDeckContainer{flex:1 0;}

.cardContainer{width:250px;height:250px;margin-left:0px;margin-right:0px;}
.card-deck{margin-left:0px;margin-right:0px}